@charset "UTF-8";

/* 回答はここに書いてね */
.q2__content {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #eff3f4;
}

.q2__content__text {
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}

img.balloon_photo { 
  float: left; 
  margin: 0 20px 10px 0;
}

img.river_photo { 
  float: right; 
  margin: 0 0 10px 20px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/* 回答はここに書いてね */
