@charset "UTF-8";

/* 回答はここに書いてね */
/* balloon */
.q9-balloon {
  position: relative;
  margin: 0 auto;
  width: 500px;
  border: 5px solid #222;
  border-radius: 30px;
  padding: 20px;
}

.q9-balloon::before, .q9-balloon::after {
  content: "";
  position: absolute;
  left: 30px;
  border: 20px solid transparent;
}

.q9-balloon::before {
  bottom: -38px;
  border-top: 20px solid #fff;
  z-index: 2;
}

.q9-balloon::after {
  bottom: -45px;
  border-top: 20px solid #222;
  z-index: 1;
}

/* ballon - text */
.q9-balloon__text {
  font-size: 16px;
  line-height: 16px;
}

/* 回答はここに書いてね */
