@charset "UTF-8";

/* 回答はここに書いてね */
.main {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: #ECF1F2;
  position: relative;
}

.box-style {
  width: 100px;
  line-height: 100px;
  text-align: center;
  position: absolute;
  font-size: 30px;
  font-weight: bold;
}

.box_1 {
  background-color: #ffefd3;
  top: 40px;
  left: 200px;
  z-index: 1;
}

.box_2 {
  background-color: #7084de;
  top: 120px;
  left: 280px;
  z-index: 2;
}

.box_3 {
  background-color: #d0ecea;
  top: 200px;
  left: 360px;
  z-index: 3;
}

.box_4 {
  background-color: #8b7a5e;
  top: 280px;
  left: 280px;
  z-index: 4;
}

.box_5 {
  background-color: #9fd6d2;
  top: 360px;
  left: 200px;
  z-index: 5;
}

.box_6 {
  background-color: #fffee4;
  top: 280px;
  left: 120px;
  z-index: 6;
}

.box_7 {
  background-color: #deae70;
  top: 200px;
  left: 40px;
  z-index: 7;
}

.box_8 {
  background-color: #de70cf;
  top: 120px;
  left: 120px;
  z-index: 8;
}

.box_8:before {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffefd3;
  width: 20px;
  height: 20px;
  content: "";
}

.box_9 {
  background-color: #2b69a3;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9;
}

/* 回答はここに書いてね */
