@charset "UTF-8";

/* 回答はここに書いてね */
.main {
  margin: 0 auto;
  table-layout: fixed;
  width: 100%;
  text-align: center;
}
.main th {
  background-color: #2244aa;
  color: white;
  font-size: 18px;
  line-height: 26px;
  border: solid #dedede 1px;
  padding: 10px;
}
.main td {
  font-size: 16px;
  line-height: 22px;
  border: solid #dedede 1px;
  padding: 10px;
}
.main tbody tr:last-child {
  border-top: dashed #000 2px;
}
.main tbody tr:nth-child(even) {
  background-color: #ecf1f2;
}



/* 回答はここに書いてね */
