@charset "UTF-8";

/* 回答はここに書いてね */
.table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
}

.th, .td {
  border: 1px solid #dedede;
  padding: 10px;
}

.th {
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
}

.td {
  font-size: 16px;
  line-height: 22px;
}

.tr:nth-child(odd){
  background-color: #ecf1f2;
}

.calorietr:last-child {
  border-top: dashed 2px #000;
}
/* 回答はここに書いてね */
