@charset "UTF-8";

/* 回答はここに書いてね */
/* ボタンパーツ */
.buttons {
  text-align: center;
}
.button {
  margin-left: 10px;
}
.button:first-of-type {
  margin-left: 0;
}
.small {
  display: inline-block;
  padding: 0 15px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 26px;
}
.middle {
  display: inline-block;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 20px;
  line-height: 32px;
}
.large {
  display: inline-block;
  padding: 0 25px;
  border-radius: 7px;
  font-size: 24px;
  line-height: 38px;
}

.common {
  background-color: #00bcd4;
  color: white;
}
.error {
  background-color: #ff4081;
  color: white;
}
.disabled {
  background-color: #e5e5e5;
  color: white;
}
.shadow {
  color: #222;
  box-shadow: 0 1px 6px rgba(0,0,0,.12);
  text-shadow: 0 1px 4px rgba(0,0,0,.12);
}


/* フォーム */
.clearfix:after {
  clear: both;
  content: "";
  display: block;
}
.q8__form {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ECF1F2;
}
.form__title {
  position: relative;
  margin-bottom: 20px;
}
.form__title:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  content: "";
}
.form__title__text {
  background-color: #ECF1F2;
  position: relative;
  display: inline-block;
  padding-right: 10px;
  font-size: 24px;
  font-weight: bold;
}
.side__text {
  width: 380px;
  float: right;
}
.side__text__input {
  width: 100%;
  height: 203px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 12px;
  box-sizing: border-box;
  resize: none;
}
.text__focused:focus {
  box-shadow: 0 0 7px #00BCD4;
  outline: none;

}
.main {
  width: 300px;
  float: left;
}
.main__items {
  margin-bottom: 20px;
}
.main__items__ul > li {
  margin-top: 20px;
}
.main__items__ul > li:first-child {
  margin-top: 0;
}
.main__items__title {
  float: left;
  width: 100px;
  line-height: 25px;
  text-align: right;
}
.main__items__content {
  float: right;
  width: 180px;
}
.is__required {
  color: #f00;
}
.select__div {
  position: relative;
}
.select__div::after {
  display: block;
  position: absolute;
  top: 4px;
  right: 10px;
  width: 8px;
  height: 8px;
  border-right: 2px solid #E5E5E5;
  border-bottom: 2px solid #E5E5E5;
  transform: rotate(45deg);
  content: "";
  pointer-events: none;
}
.radio__button {
  display: none;
}
.radio__text {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}
.radio__text::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  content: '';
}
.radio__button:checked +
.radio__text::after {
  position: absolute;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background-color: #00BCD4;
  border-radius: 50%;
  content: '';
}
.main__select {
  -webkit-appearance: none;
  outline: none;
  border:none;
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
  cursor: pointer;
}
.main__input {
  -webkit-appearance: none;
  outline: none;
  border: none;
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
}
.main__checkbox {
  text-align: right;
}
.checkbox__button {
  display: none;
  position: relative;
}
.main__checkbox__text {
  position: relative;
  display: inline-block;
  padding-left: 24px;
}
.main__checkbox__text:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: -9px;
  background-color: #fff;
  border: 1px solid #ccc;
  content: '';
}
/* }チェック状態にある要素の隣にCSSを与える */
.checkbox__button:checked + 
.main__checkbox__text:after {
  position: absolute;
  top: 50%;
  left: 6px;
  margin-top: -14px;
  width: 8px;
  height: 16px;
  border-right: 3px solid #00BCD4;
  border-bottom: 3px solid #00BCD4;
  transform: rotate(45deg);
  content: '';
}
.main__bottom {
  text-align: right;
}
.main__bottom__button:active {
  background-color: #FFF;
  color: #00BCD4;
}
.main__bottom__button {
  padding: 0 10px;
  border-radius: 5px;
  background-color: #00BCD4;
  color: #FFF;
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
  outline: none;
  border: none;
}

/* 回答はここに書いてね */
