@charset "UTF-8";

/* 回答はここに書いてね */
/* q8-1 */
.trans {
  width: 500px;
  height: 333px;
  margin: 0 auto;
  position: relative; 
  overflow: hidden;
  cursor: pointer;
}
.trans img {
  transition: all 0.5s;
}

.trans:hover img{
  transform: scale(1.5);
}

.trans__text {
  background: linear-gradient(rgba(0,0,0,0),rgba(0, 0, 0, .8));
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.trans__text p {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  word-break: break-all;
  box-sizing: border-box;
}

.trans:hover .trans__text {
  bottom: 0;
}

/* q8-2 */
.animation {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 10px solid #ecf1f2;
  border-top:10px solid #00bcd4;
  border-radius: 50%;
  animation: rotation 1.1s linear infinite;
}
@keyframes rotation {
  0%{ transform: rotate(0deg);}
  100%{ transform: rotate(360deg);}
}

/* 回答はここに書いてね */
